/* Board.css */
.board {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    border: 4px solid #000;
    margin: 40px 120px;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: background-color 0.3s ease; /* Smooth transition for background */
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece {
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-size: 72px;
}

.whitePiece {
    color: #fff;
}

.blackPiece {
    color: #000;
}

.white.highlighted {
    background-color: #c8a67d;
    border: 2px solid black;
}

.black.highlighted {
    background-color: #8c593c;
    border: 2px solid black;
}
